header {
    width: 750px;
    font-size: 85%;
    background: #EEE;
    top: 0;
    left: 21%;
    text-align: center;
    background-image: url(http://www.haiku-os.org/docs/userguide/images/logo.png);
    background-position: -30px 0;
    background-repeat: no-repeat;
    height: 84px;
    margin: auto;
    
}
#banner{
    width: 100%;
    height: 100px;
    left: 0px;
    top: 0;
    background: #EEE;
    
} 

#instructions { 
    margin-top: 130px; 
}

.title{
    position: relative;
    top: 55px;
    left: -55px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: "Myriad Pro", "Myriad Web Pro Regular", "Lucida Grande", Geneva, "Trebuchet MS",sans-serif;
    font-weight: normal;
    display: block;
    font-size: 16px;
}

/*#tete{
    float:right;
    display: inline;
}*/

section {
    width: 750px;
    text-align: justify;
    margin: auto;
}

img{
    border: none;
}

/*cellpadding="5" width="100%" cellspacing="0" border="1" class="table"*/
td {
    padding: 5px;
    width: auto;
    text-align: left;
    display: auto;
}
#show-all {
    text-align:center;
    display: block;
}
tr {
    width: 100%;
    display: auto;
}
table{
    padding: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #476BB3;
    width: 750px;
    text-align: center;
    border-collapse: collapse;
}
#nightlylist {
    width: 750px;
    margin-left:auto; 
    margin-right:auto;
    border-spacing: 0px;
    border-width: 1px;
    text-align: center;
    border-color: #476BB3;
}

tr {
	background-color: white;
	color: #476BB3;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
}

.icon { padding: 5px 0px 5px 5px; }
.item { padding-top: 14px; }

.link {
	font-weight: bold;
	font-size: medium;
	font-family: Arial, Helvetica, sans-serif;
}

tr:nth-child(even) {
    background-color: #E9F0FF;
}

.highlight { background-color: #DBE6FE; }

.fileNamePad { padding: 5px 0 10px 10px; }
.fileSizePad { padding: 5px 20px 10px 0px; }
.fileDatePad { padding: 5px 0px 10px 0px; }